button {
    background-color: lightblue;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 7px 9px 7px 9px;
    margin-left:4px;
    margin-right:4px;
    transition: background-color 0.3s ;
}
button:hover {
    background-color: blue;
    text-transform: uppercase;
}

.masthead{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr 2fr
}

.masthead__menu-and-search{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    padding-left:20px;
}
.masthead__menuButton, .masthead__searchButton {
    font-size: 11px;
    padding: 7px 9px 7px 9px;
}
.masthead__searchButton:hover {
    background-color: #f7f7f5;
}
.masthead__menuButton:hover {
    background-color: #f7f7f5;
}

.search--hidden {
  display: none;
}

.masthead__actions {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}

.masthead__technologies {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.masthead__technology {
    margin: 0 4px;
}
  
  .masthead__technology-list {
    color: #6f6f6f;
    font-size: 10px;
    text-transform: uppercase;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
}



.masthead__date {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-bottom: 1px solid#e2e2e2;
    padding-bottom: 11px;
    border-top: 1px solid #e2e2e2;
    display:flex;
    align-items: flex-end;
}

.masthead__logo {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 11px;
    border-top: 1px solid #e2e2e2;
}

.masthead__paper {
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 11px;
    border-top: 1px solid #e2e2e2;

}

/* gear-dropdown.css */
.pref {
    display:flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #efefef;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    font-size: 12px;
    padding: 0.5em;
    position: absolute;
    right: 40px;
    top: 3.5em;
    width: 200px;
}

.pref--hidden {
  display: none;
}

.pref__section {
  border-top: 1px solid #dedede;
}

.pref__section:first-child {
  border-top: none;
}

.pref__section-header {
  border: 1px solid #efefef;
  padding: 5px;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
}

.pref__section-link {
  margin: .5em;
  padding: .5em;
  text-transform: uppercase;
}

.pref__section-link:hover {
  background-color: #dedede;
}
  
  



